<html>
    <body>
        <form action = '/signupprocess2' method = "post">
            Name: <input type = "text" placeholder="Enter the name" name = "txt1" required /><br/>
            Email: <input type = "text" placeholder="Enter the email" name = "txt2" required /> <br/>
            Mobile: <input type = "number"  placeholder="Mobile" name = "txt2" required /><br/>
            Password: <input type = 'password' placeholder="Enter the password" name = "txt3" required /> <br/>         
            <input type="submit"></br>
        </form>
    </body>
</html>